.btn{
    align-self: center; 
    background:linear-gradient(to bottom, #a611c0 5%, #e184f3 100%);
    background-color:#a611c0;
    border-radius:18px;
    display:inline-block;
    padding:7px 25px;
    margin: 5px;
    font-family:Courier New;
    font-size:17px;
    font-weight:bold;
    color:#ffffff;
    text-decoration:none;
    background:linear-gradient(to bottom, #a611c0 5%, #e184f3 100%);
    border:1px solid #c223de;
    
} 

  .btn:hover {
	background:linear-gradient(to bottom, #e184f3 5%, #c123de 100%);
}
  .btn:active {
	position:relative;
	top:1px;
}
